@font-face {
    font-family: 'Neusa';
    src: url('Neusa-Regular.woff2') format('woff2'),
        url('Neusa-Regular.woff') format('woff'),
        url('Neusa-Regular.ttf') format('truetype'),
        url('Neusa-Regular.svg#Neusa-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa';
    src: url('Neusa-DemiBold.woff2') format('woff2'),
        url('Neusa-DemiBold.woff') format('woff'),
        url('Neusa-DemiBold.ttf') format('truetype'),
        url('Neusa-DemiBold.svg#Neusa-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa';
    src: url('Neusa-Medium.woff2') format('woff2'),
        url('Neusa-Medium.woff') format('woff'),
        url('Neusa-Medium.ttf') format('truetype'),
        url('Neusa-Medium.svg#Neusa-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa';
    src: url('Neusa-Light.woff2') format('woff2'),
        url('Neusa-Light.woff') format('woff'),
        url('Neusa-Light.ttf') format('truetype'),
        url('Neusa-Light.svg#Neusa-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa';
    src: url('Neusa-Bold.woff2') format('woff2'),
        url('Neusa-Bold.woff') format('woff'),
        url('Neusa-Bold.ttf') format('truetype'),
        url('Neusa-Bold.svg#Neusa-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa';
    src: url('Neusa-ExtraBold.woff2') format('woff2'),
        url('Neusa-ExtraBold.woff') format('woff'),
        url('Neusa-ExtraBold.ttf') format('truetype'),
        url('Neusa-ExtraBold.svg#Neusa-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa';
    src: url('Neusa-Black.woff2') format('woff2'),
        url('Neusa-Black.woff') format('woff'),
        url('Neusa-Black.ttf') format('truetype'),
        url('Neusa-Black.svg#Neusa-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neusa';
    src: url('Neusa-SemiBold.woff2') format('woff2'),
        url('Neusa-SemiBold.woff') format('woff'),
        url('Neusa-SemiBold.ttf') format('truetype'),
        url('Neusa-SemiBold.svg#Neusa-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

